{% extends "template-logged.view.html" %}
{% block body%}
<h1>DASHBOARD </h1>
<a href="/create-post" class="btn btn-primary">Añadir post</a>

<table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">title</th>
            <th scope="col">body</th>
            <th scope="col">User</th>
            <th scope="col">Delete</th>

          </tr>
        </thead>
        <tbody>
        {% for post in posts %}
          <tr>
            <th scope="row">{{ post.id }}</th>
            <td>{{ post.title }}</td>
            <td>{{ post.body }}</td>
            <td>{{ post.idUser}} </td>
            <td><a class="btn btn-danger" href="'/delete-post/{{post.id}}'">borrar</a> </td>

          </tr>
        {% endfor %}
          </tbody>
      </table>
{%endblock%}